.gitattributes text
.gitignore     text

*.lua       text
*.yml       text
*.tr        text
*.md        text
*.txt       text
mod.conf    text
.luacheckrc text
LICENSE     text
*.json      text

*.jpg   binary
*.png   binary
*.mts   binary
*.xcf   binary

.*           export-ignore
*.cdb.json   export-ignore
Screenshot.* export-ignore
